@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

:root {
  --ion-color-primary: #468966;
  --ion-color-primary-rgb: 70,137,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3e795a;
  --ion-color-primary-tint: #599575;

  --ion-color-secondary: #8e2800;
  --ion-color-secondary-rgb: 142,40,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #7d2300;
  --ion-color-secondary-tint: #993e1a;

  --ion-color-tertiary: #ffb03b;
  --ion-color-tertiary-rgb: 255,176,59;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e09b34;
  --ion-color-tertiary-tint: #ffb84f;

  --ion-color-success: #468966;
  --ion-color-success-rgb: 70,137,102;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #3e795a;
  --ion-color-success-tint: #599575;

  --ion-color-warning: #ffb03b;
  --ion-color-warning-rgb: 255,176,59;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e09b34;
  --ion-color-warning-tint: #ffb84f;

  --ion-color-danger: #B64926;
  --ion-color-danger-rgb: 182,73,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #a04021;
  --ion-color-danger-tint: #bd5b3c;

  --ion-color-dark: #6f6948;
  --ion-color-dark-rgb: 111,105,72;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #625c3f;
  --ion-color-dark-tint: #7d785a;

  --ion-color-medium: #cfc487;
  --ion-color-medium-rgb: 207,196,135;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #b6ac77;
  --ion-color-medium-tint: #d4ca93;

  --ion-color-light: #fff0a5;
  --ion-color-light-rgb: 255,240,165;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0d391;
  --ion-color-light-tint: #fff2ae;

  --ion-font-family: 'Playfair Display', sans-serif;
}
