@import url('https://fonts.googleapis.com/css?family=Yellowtail');

ion-text h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 40px;
  letter-spacing: 2px;
}

ion-img {
  height: 144px;
  width: 144px;
  margin: 30% auto auto;
}
