<ion-header>
  <ion-toolbar>
    <ion-img slot="end" src="assets/brand.png"></ion-img>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" menu="start"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let track of tracks | async" size="12" sizeSm="6" sizeMd="4" sizeLg="4" sizeXl="3">
        <ion-card>
          <ion-img [src]="track.image[3]['#text']"></ion-img>
          <ion-card-header>
            <ion-card-subtitle color="primary">{{ track.artist.name }}</ion-card-subtitle>
            <ion-card-title color="secondary">{{ track.name }}</ion-card-title>
          </ion-card-header>
          <ion-item lines="full">
            <ion-label color="dark">Playcount</ion-label>
            <ion-badge slot="end" color="primary">{{ track.playcount | thousandSuffix:2 }}</ion-badge>
          </ion-item>
          <ion-item lines="none">
            <ion-label color="dark">Listeners</ion-label>
            <ion-badge slot="end" color="tertiary">{{ track.listeners | thousandSuffix:2 }}</ion-badge>
          </ion-item>
          <ion-item lines="none" color="primary" button detail (click)="onClick(track)">
            <ion-label color="light">Details</ion-label>
          </ion-item>
          <ion-item lines="none" color="secondary" detail detailIcon="exit" [href]="track.url">
            <ion-label color="light">last.fm</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
